<!-- メニューバーだけとりあえずつくるやつ -->
<div class="plusbtn">
  <label for="open"></label>
  <input id="open" type="checkbox" />

  <div id="menu">
    <nav>
      <ul>
        <li>
          <a href="" class="menu_link"
            ><button class="menu_button" (click)="homeshow()">page1</button>
          </a>
        </li>
        <li>
          <a href="" class="menu_link"
            ><button class="menu_button" (click)="worksshow()">page2</button>
          </a>
        </li>
        <li>
          <a href="" class="menu_link"
            ><button class="menu_button" (click)="gallaryshow()">page3</button>
          </a>
        </li>
        <li>
          <a href="" class="menu_link"
            ><button class="menu_button" (click)="contactshow()">page4</button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="menu_space">
  <table class="menu_table" border="0">
    <tr class="menu_tr">
      <td class="menu_td">
        <button class="menu_button" (click)="homeshow()">page1</button>
      </td>
    </tr>
    <tr class="menu_tr">
      <td class="menu_td">
        <button class="menu_button" (click)="worksshow()">page2</button>
      </td>
    </tr>
    <tr class="menu_tr">
      <td class="menu_td">
        <button class="menu_button" (click)="gallaryshow()">page3</button>
      </td>
    </tr>
    <tr class="menu_tr">
      <td class="menu_td">
        <button class="menu_button" (click)="contactshow()">page4</button>
      </td>
    </tr>
  </table>
</div>
<table class="main_contents_table" border="1">
  <tr class="main_contents_tr">
    <td class="main_space_td"></td>
    <td class="main_contents_td">
      <!--
         ここのNGIFで主に見えるページを変える。
       なのでメニューとかの位置がずれることがなくなる。
       良いかどうかはしらん
        -->
      <div *ngIf="home">
        <app-home></app-home>
      </div>
      <div *ngIf="works">
        <app-works></app-works>
      </div>
      <div *ngIf="gallary">
        <app-gallary></app-gallary>
      </div>
      <div *ngIf="contact">
        <app-contact></app-contact>
      </div>
    </td>
    <!-- なんか知らん空白用 -->
    <td></td>
  </tr>
</table>
