<p>おはよう世界</p>
<div class="center">
  <ul>
    <li>
      <ol>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="image_ctrl">
            <img src="../../assets/image/image1.jpg" alt="" />
          </div>
        </li>
      </ol>
    </li>
  </ul>
</div>
